/*header*/
  /*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}     
.d1{
    background-image: url(imageslider1.jpg);
    width: 100%;
    height: 765px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: -10px;

   
    
}
.dp1{
    background-image: url(imageslider2.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: -10px;

   
    
}
nav{
    background-color: black;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 2;
  

margin-left: -10px;
  
    
}
.navbar ul{
    width: 100%;
    height: 100%;

    display: flex;
}

.navbar ul li{
    margin:-10px 50px auto auto;
  
    padding: 5px;
    list-style-type: none;
width: 10%;
height: 100%;

}
li a{
    padding: 5px;
    text-decoration: none;
    color: white;
}

li:first-child{
    text-align:left ;
}
#a5{
    font-weight: bold;
 
background-color: rgb(23, 137, 230);
padding: 10px;
border-radius: 10px ;
}

#select1{
    background-color: black;
    border: none;
    color: white;

}
#select1 option{
    background-color: white;
    color: black;
}
.div1{
    position: relative;
    z-index: 1;
    margin-top: -300px;
    left: 20px;
    color: white;
  
}*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.link1{
padding: 10px;
border:1.5px solid white ;
text-decoration: none;
color: white;
border-radius: 20px;
width: 120px;
margin-left: 100px;
margin-top: 32px;
}
.link2{
padding: 13px;
/*border:1px solid white ;*/
text-decoration: none;
color: white;
border-radius: 30px;
border: none;
width: 190px;
font-size: 13px;
margin-left: 230px;
margin-top: -42px;

background-color: rgb(23, 137, 230);
box-shadow: 1px 1px 0px rgb(23, 137, 230);
}
.link2:hover{
    color: gray;
    background-color: white;
    box-shadow: none;
}
.link1:hover{
    color: gray;
    background-color:white ;
   
}

    #paragraph1{
    font-family: 'Montserrat';

  
    color: white;
    margin: 25px;
    } */



/*page Homme*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    display: flex;
    width: 100%;
    height: 500px;
    background-image : url("imageSlider1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}
body {
    height: 1800px;

}
.navbar {
    flex-basis: 50%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}
 #kk {
margin-right: 80px;
width: 40px;
font-size: 10px;
}
.navbar li {
    float: left;
    color: white;
    padding: 10px 20px 5px 20px;
    list-style: none;
    margin-left: 40px;
    margin-bottom: 89px;
    margin-top: 18px;
}
.navbar li a{
    text-decoration: none;
    color: white;
    
}
.inscription_navbar{
    margin-top: 25px;
    padding: 5px 18px 5px 18px;
    border-radius: 18px 18px 18px 18px;
     color :white;
    background-color: #1E90FF;
    border: none;
}
.inscription_navbar:hover , .inscription_navbar:active{
    background-color: white;
    color: black;
    }
.langue li{
    display: none;
}
.decouvreecole {
    padding: 5px 20px;
    border-radius: 18px 10px 10px 18px;
    margin-left: 80px;
    height: 40px;
    background-color: #1E90FF;
    color: white;
    margin-top: 30px;
    border: none;
}
.decouvreecole:hover , .decouvreecole:active{
    background-color: white;
    color: black;
    }
.header{
    margin-top: 50px;
}
.titre h1{
  color: white;
  font-family: Montserrat;
  font-size: 20px;
  margin-left: 80px;
  margin-top: 30px;
}
.titre h1:first-child{
  color: white;
  font-family: Montasserat;
  font-size: 40px;
  margin-left: 80px;
  margin-top: 40px;
}
.pp {
    margin-top: -200px;

    text-align: center;
}


*{
    box-sizing: border-box;
}
#divGen{
    width: 100%;
    height: 84%;
    display: flex;
    justify-content: center;
    margin-left: 8px;
    margin-top: 165px;
    font-size: 18px;
}
.divp1{
    width: 32%;
    height: 100%;
   
   
}

.divC1 p:first-child{
background-image: url(icon1.png);
width: 30px;
height: 30px;
background-repeat: no-repeat;
background-size: cover;
margin-left: 150px;

}

.divC2 p:first-child{
background-image: url(icon3.png);
width: 30px;
height: 30px;
background-repeat: no-repeat;
background-size: cover;
margin-left: 150px;

}

.divC3 p:first-child{
background-image: url(icon2.png);
width: 30px;
height: 30px;
background-repeat: no-repeat;
background-size: cover;
margin-left: 150px;

}
.divpran2{
width: 100%;
margin-top: -159px;
height: 500px;
display: flex;

}
.divGeneral{
width: 100%;
height:50%;
margin-top: 250px;

}
.divBlue{
background-color: rgb(0, 122, 255);
width: 50%;
height: 100%;
margin-top: -220px;

}
.divBlue h1:first-child{
text-align: center;
color: white;
font-weight: bold;
font-size: 43px;


}
.divBlue p:nth-of-type(1){
text-align: center;
color: white;
line-height: 39px;
letter-spacing: 2px;



}
.divpran2 div:first-child{
width: 50%;
height: 100%;
background-image: url(image2.jpg);
background-repeat: no-repeat;
background-size: cover;
animation: anim1 10s infinite ease-in-out;
margin-top: -220px;
}
@keyframes anim1 {
    0%{
        background-image: url(image2.jpg);
    }
    50%{
        background-image: url(hack6.jpg);
    }
    100%{
        background-image: url(image2.jpg);
    }
   

}


.divprans3{
width: 100%;
height: 39em;
margin-top: -97px;
}
.divprans3Img{

width: 100%;

background-size: cover;
position: relative;
margin-top: -15px;

}
.div1p{
height: 67%;

background-image: url(imageSimplon.png);
background-size: cover;
}
.div2p{
background-color: rgb(0, 122, 255);
display: flex;
height: 35%;

}



.divCh{
width: 32%;
height: 65%;
text-align: center;
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 19px;
margin-left: 20px;
margin-top: 48px;

}
.divCh1{
border-right: 1.5px dashed black;

margin-top: 48px;

}

.divCh p:first-child{
font-weight: bold;
}
#tbold{
font-weight: bold;
color: black;
}
.dv1{
width: 90%;
height: 200px;
text-align: center;
margin:20px 30px ;
color: gray;
font-size: 20px;
font-family:serif;
letter-spacing: 3px;
line-height: 40px;
}
.dv2{
text-align: center;
width: 100%;
height: 200px;
margin-top: 75px;
}
.dv2 h1:first-child{
font-weight: bold;
text-align: center;
}
.paraImge{
background-image: url(ocp.png);
width: 90px;
height: 106px;
background-size: cover;
background-repeat: no-repeat;
text-align: center;
margin-left: 47%;
}
.paraflex{
width: 50%;


}
.paraflex2 button{
border: none;
background-color:
rgb(0, 122, 255);
color:
white;
padding: 10px 181px;
font-size: 25px;
border-radius: 30px;

}
.paraflex2 button:hover{
background-color: white;
color: black;
border: 1px solid white;
box-shadow: 1px 2px 11px black;
}
.paraflex1{



    padding: 10px 110px;
font-size: 25px;
font-family: monospace;

}
.dv2 #dd1{
width: 100%;

display: flex;
}
.dv3{
width: 100%;
height: 110px;
color: gray;
background-color: black;
margin-top: 147px;
display: flex;
}
.df1{
width: 32%;

margin:15px 10px;
font-size: 23px;
}
.dfc1{

margin-left: 510px;
margin-top: 50px;

}
.dfc2{
margin-left: 196px;
}
.gg {
    font-size: 30px;
    margin-left: -982px;
    font-family: Montserrat;
    margin-bottom: -24px;
    margin-top: 100px;
}
.bbbb{
    padding: 5px 20px;
    border-radius: 18px 18px 18px 18px;
    width:290px;
    background-color: #1E90FF;
    color: white;
    margin-left: 900px;
  margin-bottom: -30px;
    border: none;
    font-size: 20px;

}















/*campus*/
.dvsafi{
    width: 100%;
    height: 100px;
    text-align: center;
    margin-top: 200px;

}
.dvsafi h1:first-child{
    font-weight: bold;
}
.imgsafi{
  width: 100%;
  height: 398px;
   display: flex;
    margin-top: 50px;

}
.generald{
  width:40%;
    height: 100%;
}
.images{
  background-image: url(imageSafi1.png);
  width: 60%;
  height: 73%;
    background-size: cover;
    background-repeat: no-repeat;
    animation: anim2 10s infinite ease-in-out ;
    margin-top: 24px;
}
#dul{
    display: block;
   
}
#dul li{

padding: 10px;
list-style: square;
font-size: 13px;

}
@keyframes anim2{
    0%{
        background-image: url(imageSafi1.png);
    }
    40%{
        background-image: url(imageSafi2.png);
    }
    80%{
      background-image: url(imageSafi3.png);
    }
    100%{
      background-image: url(imageSafi1.png);
    }

}
.d2img{
width: 40%;
height: 100%;
background-image: url(arif-riyanto-G1N9kDHqBrQ-unsplash.jpg);
background-size: cover;
background-repeat: no-repeat;

}
.ddv2{

width: 100%;
display: flex;
height: 650px;
background-color: gray;
}
#dd1{
width: 60%;
height: 100%;


}
#dd1 h1{
text-align: center;
color: white;
font-weight: bold;
font-style: oblique;
}
#dd1 .dnp{
background-image: url(imagesa.png);
width: 99%;
height: 80%;
background-size: cover;
background-repeat: no-repeat;
margin: 44px 12px 10px 5px;
}

.df1 a{
color: rgb(0, 122, 255);
text-decoration: none;
}
.ii{
    background-color: white;
    width: 50px;
    height: 30px;
    list-style-type: none;
  margin: auto;
}
.i1{background-image: url(facebook.png);
background-size: cover;
background-repeat: no-repeat;
width: 38px;
height: 30px;
}
.i2{
    background-image: url(twitter.png);
background-size: cover;
background-repeat: no-repeat;
width: 32px;
height: 30px;
}
.i3{
    background-image: url(linkdin.png);
background-size: cover;
background-repeat: no-repeat;
width: 32px;
height: 30px;
}
.i4{
    background-image: url(youtube.png);
background-size: cover;
background-repeat: no-repeat;
width: 32px;
height: 30px;
}
#ulli{
    width: 278px;
height: 26px;
display: flex;
margin-top: 30px;
margin-left: 60px;
}
/*FOOTER*/
.dv3{
    width: 100%;
    height: 110px;
    color: gray;
    background-color: black;
    margin-top: 146px;
    display: flex;
}
.df1{
    width: 32%;
    
    margin:15px 10px;
    font-size: 20px;
}
.dfc1{
    
    margin-left: 340px;
    margin-top: 50px;
    
}

.dfc2{
    margin-left: 170px;
}
.mv{

    animation:type 1s steps(22);
    overflow: hidden;
    white-space: nowrap;
    font-family: consolase;
    border-right: 4px solid white;
    width: 24ch;

}
@keyframes type{
    0%{
        width: 0ch;
    }
    100%{
        width: 24ch;
    }
}


